@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

/* width */
.hello-hello::-webkit-scrollbar {
  height: 4px;
}

/* Track */
.hello-hello::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
}

/* Handle */
.hello-hello::-webkit-scrollbar-thumb {
  background: rgb(48, 28, 134);
  border-radius: 10px;
}

/* Handle on hover */
.hello-hello::-webkit-scrollbar-thumb:hover {
  background: #0011ff;
}

textarea {
  resize: none;
}
